<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.kth.cos.android.sw" android:versionCode="1"
	android:versionName="1.0">
	<uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
	<uses-permission android:name="android.permission.USE_CREDENTIALS"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

	<uses-sdk android:minSdkVersion="7" />
	<application android:theme="@style/Theme.D1" android:icon="@drawable/icon"
		android:label="@string/app_name">
		<activity android:name=".Dashboard" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".SigninUserActivity" />
		<activity android:name=".RegisterUserActivity" />
		<activity android:name=".ProfileListActivity" />
		<activity android:name=".AttributeListActivity" />
		<activity android:name=".FindFriendActivity" />
		<activity android:name=".NotificationActivity" />
		<activity android:name=".PostStatus" />
		<activity android:name=".MyStatusActivity" />
		<activity android:name=".FriendsStatusActivity" />
		<activity android:name=".ManageFriendActivity" />
		<activity android:name=".FriendsProfileActivity" />
		<activity android:name=".StatusDetails" />
		<activity android:name=".SelectDataserver" />
		<activity android:name=".LoginActivity" />
	</application>
</manifest>